@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

/* Customize the light theme */
[data-theme="light"] {
  --custom-color: #f0f0f0;
}

/* Customize the dark theme */
[data-theme="dark"] {
  --custom-color: #333;
}

/* Use the custom variable in your components */
.my-custom-class {
  background-color: var(--custom-color);
}
